<!DOCTYPE html>
<head>
    <title>
        About
    </title>
    <link rel="stylesheet" href="aboutstyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

</head>

<body>
    <div class="navigation">
        <img class="logo" src="../picture/logo.svg" alt="">
        <p>Bicycle</p>

        <ul>
            <li><a href="../View/Home.html">Home</a></li>
            <li><a href="../Controller/bookform.html">Booking</a></li>
            <li><a href="../View/Navigationbar.html">Events</a></li>
            <li><a href="../View/About.html">About</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="how">
            <h1>How it all started</h1>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic non corrupti, sapiente fugit nostrum ut atque architecto ad deserunt tempore explicabo saepe eum voluptatibus minus sequi sit! Quis, consectetur Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam porro officia eum earum quasi quam accusantium cum ratione corporis recusandae quae nostrum eveniet quia quos quod, fuga provident esse minima. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quasi vel culpa similique temporibus minus, quaerat alias in sapiente libero eveniet perferendis dolore unde iusto aspernatur inventore nobis? Doloribus, nisi. lorem(100)
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi hic ullam eligendi velit consectetur sint, odit sequi officiis iste, reprehenderit quod similique minus quos laboriosam magnam cumque, sit quisquam asperiores.lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate unde dolorem fugit pariatur molestiae architecto exercitationem facere vitae adipisci tempore voluptatem, repellendus nihil ipsum excepturi cumque nam esse optio aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut temporibus repellendus aperiam hic! Officiis eos nobis dolores alias ex odit, tenetur id soluta laborum voluptatibus mollitia pariatur delectus itaque 
            </p>
        </div>
        
        
        <div class="what">
            <h1>What we do now</h1>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic non corrupti, sapiente fugit nostrum ut atque architecto ad deserunt tempore explicabo saepe eum voluptatibus minus sequi sit! Quis, consectetur Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam porro officia eum earum quasi quam accusantium cum ratione corporis recusandae quae nostrum eveniet quia quos quod, fuga provident esse minima. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quasi vel culpa similique temporibus minus, quaerat alias in sapiente libero eveniet perferendis dolore unde iusto aspernatur inventore nobis? Doloribus, nisi. lorem(100)
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi hic ullam eligendi velit consectetur sint, odit sequi officiis iste, reprehenderit quod similique minus 
            </p>
        </div>

        <div class="where">
            <h1>Where to contact us</h1>
            <p>
                FACEBOOK: bicycle.bhobisshot
            </p>
            <P>INSTAGRAM: bicycle.bhobisshot</P>
            <p style=" line-height: 30px ;">ADDRESS: Kumrapara 10, Mohammedpur, Bangladesh</p>
        </div>

    </div>