<!DOCTYPE html>
    <head>
        <title>
            Accessories
        </title>
        <link rel="stylesheet" href="accessoriesstyle.css">
    </head>
    <body >
            <div class="navbar">
                <img class="pad top" style="height: 70px;float: left;" src="../picture/logo.svg" alt="bicycle">
                <p style="float: left; font-size: 50px;margin-top: 6px;" class="top">Bicycle</p>

                <ul class="top">
                    <li><a href="../View/Home.html">Home</a></li>
                    <li><a href="../Controller/bookform.html">Booking</a></li>
                    <li><a href="../View/Navigationbar.html">Events</a></li>
                    <li><a href="../View/About.html">About</a></li>
        </ul>
                </ul>           
            </div>
                <div class="images">    
                    <div class="card2">
                        <a href="../Controller/accform.html" target="_blank"></a>
                        <img src="../accessories/maxresdefault.jpg" alt="">
                        <p>RGB LIGHT</p> 
                        <li>TK1150</li>              
                    </div>   
                    <div class="card2">
                        <a href="../Controller/accform.html" target="_blank"></a>
                        <img src="../accessories/4.jpg" alt="">
                        <p>HELMET</p>
                        <li>TK1300</li>               
                    </div>  
                    <div class="card2">
                        <a href="../Controller/accform.html" target="_blank"></a>
                        <img src="../accessories/2.jpg" alt="">
                        <p>WATER CASE</p>  
                        <li>TK2000</li>             
                    </div>    
                    <div class="card2">
                        <a href="../Controller/accform.html" target="_blank"></a>
                        <img src="../accessories/3.jpg" alt="">
                        <p>HEADLIGHT</p>
                        <li>TK1800</li>               
                    </div>   
                    <div class="card2">
                        <a href="../Controller/accform.html" target="_blank"></a>
                        <img src="../accessories/5.jpg" alt="">
                        <p>LOCK</p>
                        <li>TK1000</li>               
                    </div>             
                </div>

            <div class="sideBar">
                <li class="acc"><a href="accessories.html" style="text-decoration: none;color: black;"> Accessories </a>
                    <div class="dropdown">
                        <a href="#">Bell</a>
                        <a href="#">Head light</a>
                        <a href="#">Helmet</a>
                        <a href="#">Basket</a>
                        <a href="#">Bottle Case</a>

                    </div>
                </li>
                <li class="acc">Collections
                    <div class="dropdown">
                        <a href="#">Duronto</a>
                        <a href="#">Pegasus</a>
                        <a href="#">Ghost</a>
                        <a href="#">Yamaha</a>
                        <a href="#">Marcedex</a>

                    </div>
                </li>
            </div>   
            <!-- <div class="footer">
                <div class="footerLeft allign">
                    <h2>Contact:</h2>
                    <H3>Facebook</H3>
                    <h3>Insta</h3>

                </div>
                <div class="footerRight allign">
                    <h2>Adress:</h2>
                    <H3>Area</H3>
                    <h3>House</h3>


                </div> -->
            </div>        
    </body>

</html>