<!DOCTYPE html>
    <head>
        <title>
            Home
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body >
            <div class="navbar">
                <img class="pad top" style="height: 70px;float: left;" src="../picture/logo.svg" alt="bicycle">
                <p style="float: left; font-size: 50px;margin-top: 6px;" class="top">Bicycle</p>

                <ul class="top">
                    <li><a href="../View/Home.html">Home</a></li>
                    <li><a href="../Controller/bookform.html">Booking</a></li>
                    <li><a href="../View/Navigationbar.html">Events</a></li>
                    <li><a href="../View/About.html">About</a></li>
        </ul>
                </ul>           
            </div>
                <div class="images">    
                    <div class="card2">
                        <a href="../Controller/Form.html" target="_blank"></a>
                        <img src="../picture/1.jpg" alt="">
                        <p>bike 1</p> 
                        <li>TK11500</li>              
                    </div>   
                    <div class="card2">
                        <a href="../Controller/Form.html" target="_blank"></a>                        
                        <img src="../picture/2.jpg" alt="">
                        <p>bike 2</p>
                        <li>TK13000</li>               
                    </div>  
                    <div class="card2">
                        <a href="../Controller/Form.html" target="_blank"></a>                        
                        <img src="../picture/3.jpg" alt="">
                        <p>bike 3</p>  
                        <li>TK20000</li>             
                    </div>    
                    <div class="card2">
                        <a href="../Controller/Form.html" target="_blank"></a>                        
                        <img src="../picture/4.jpg" alt="">
                        <p>bike 4</p>
                        <li>TK18000</li>               
                    </div>   
                    <div class="card2">
                        <a href="../Controller/Form.html" target="_blank"></a>                        
                        <img src="../picture/5.jpg" alt="">
                        <p>bike 5</p>
                        <li>TK10000</li>               
                    </div>  
                    <div class="card2">
                        <a href="../Controller/Form.html" target="_blank"></a>                        
                        <img src="../picture/6.jpg" alt="">
                        <p>bike 6</p>
                        <li>TK12000</li>               
                    </div>           
                </div>

            <div class="sideBar">
                <li class="acc"><a href="accessories.html" style="text-decoration: none;color: black;"> Accessories </a>
                    <div class="dropdown">
                        <a href="#">Bell</a>
                        <a href="#">Head light</a>
                        <a href="#">Helmet</a>
                        <a href="#">Basket</a>
                        <a href="#">Bottle Case</a>

                    </div>
                </li>
                <li class="acc">Collections
                    <div class="dropdown">
                        <a href="#">Duronto</a>
                        <a href="#">Pegasus</a>
                        <a href="#">Ghost</a>
                        <a href="#">Yamaha</a>
                        <a href="#">Marcedex</a>

                    </div>
                </li>
            </div>   
            <div class="footer">
                <div class="footerLeft allign">
                    <h2>Contact:</h2>
                    <H3>Facebook: bicycle.bhobisshot</H3>
                    <h3>Insta: bicycle.bhobisshot</h3>

                </div>
                <div class="footerRight allign">
                    <h2>Adress:</h2>
                    <H3>Area: Mohammedpur, Bangladesh</H3>
                    <h3>House: Kumrapara 10</h3>


                </div>
              </div>        
    </body>

</html>