<!DOCTYPE html>
<head>
    <title>
        Events
    </title>
    <link rel="stylesheet" href="navi.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

</head>

<body>
    <div class="navigation">
        <img class="logo" src="../picture/logo.svg" alt="" >
        <p>Bicycle</p>

        <ul>
            <li><a href="../View/Home.html">Home</a></li>
            <li><a href="../Controller/bookform.html">Booking</a></li>
            <li><a href="../View/Navigationbar.html">Events</a></li>
            <li><a href="../View/About.html">About</a></li>
        </ul>
        </ul>

    </div>

    <div class="box">
            <img src="../event/1.webp" alt="">

                <p class="title" >50KM RALLY</p>
                        
                <p class="date">25th of April</p>

                <p class="fees">FEES: TK500</p>

                <p class="location">DHANMONDI TO MIRPUR</p>

                <div class="button">
                    <a href="contact.html" target="_blank">
                    <span class="material-icons">
                        perm_phone_msg
                    </span>
                    <p>Contact us</p>
                    </a>
                </div>


    </div>

    <div class="box">
            <img src="../event/2.jfif" alt="" srcset="">
            <p class="title" >50KM RALLY</p>
                    
            <p class="date">25th of May</p>

            <p class="fees">FEES: TK200</p>

            <p class="location">DHANMONDI TO UTTARA</p>

            <div class="button">
                <a href="contact.html" target="_blank">
                <span class="material-icons">
                    perm_phone_msg
                </span>
                <p>Contact us</p>
                </a>
            </div>

    </div>

    <div class="box">
            <img src="../event/3.webp" alt="">

            <p class="title" >BIKER'S MELA</p>
                    
            <p class="date">13th of April</p>

            <p class="fees">FEES: FREE!!</p>

            <p class="location">MOHAMMADPUR</p>

            <div class="button">
                <a href="contact.html" target="_blank">
                <span class="material-icons">
                    perm_phone_msg
                </span>
                <p>Contact us</p>
                </a>
            </div>

    </div>
    
    <div class="box" >
        
        <img src="../event/4.jpg" alt="">

        <p class="title" >DHAKA TOURNAMENT</p>
                
        <p class="date">1st of July</p>

        <p class="fees">TK75,000 prize pool</p>

        <p class="location">FEES: TK1500</p>

        <div class="button">
            <a href="contact.html" target="_blank">
            <span class="material-icons">
                perm_phone_msg
            </span>
            <p>Contact us</p>
            </a>
        </div>

</div>
    
    
    
</body>