body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(248, 248, 248);
    opacity: 100%;
    float: left;
    width: 100%;
    margin: 0px;
}
.navbar{
    box-shadow: 0px 5px 10px gray;
    float: left;
    background-color: royalblue;
    width: 100%;
    height: 105px;
    align-content: center;


}

ul{
    float: right;

}
ul li{
    display: inline-block;
    font-size:30px ;
    margin: 5px;
    padding-right: 30px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(221, 220, 231);
    
    
}
ul li:hover{
    transition: font-size 1s;
    cursor: pointer;
    font-size: 40px;
}
.pad{
    padding-left: 30px;
    padding-top: 6px;
}
.top{
    padding-top: 15px;
    right: 0px;
}

/* bike album start */
.images {
    position: absolute;
    top: 140px;
    left: 350px;
   
    height: 70%;
    overflow: auto;
    
}

.images :hover{
    box-shadow: 1px 1px 5px ;
    cursor: pointer;

}
.card2 img:hover{
    box-shadow: 0px 0px;
}
.card2 p:hover{
    box-shadow: 0px 0px;
}
.card2 li:hover{
    box-shadow: 0px 0px;
}
.card2 a:hover{
    box-shadow: 0px 0px;
}
.card2 img{
    margin-top: 10%;
    height: 200px;
    width: 200px;
}
.card2 {
    position: relative;
    text-align: center;
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 20px;
    display: inline-block;
}
.card2 a{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    

}
.card2 li{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    list-style-type: none;
    text-align: center;

}
.card2 p{
    font-size: 20px;
    margin: 35px;
}


.sideBar{
    border-top-left-radius: 15px;
    background: rgba(224, 223, 223, 0.555);
    box-shadow: rgba(224, 223, 223, 0.555) 10px 10px 20px;
    padding-top: 0px; 
    margin-left: 10px;
    height: 64%;
    font-size: 35px;
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.151);
    position: absolute;
    left: 0px;
    top: 140px;
    text-align: left;

}
.dropdown a{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: block;
    padding-left: 15px;
    background: rgb(243, 242, 242);

}
.dropdown{

    display: none;
}
.dropdown a:hover{
    background: rgb(216, 215, 215);
}
.acc{
    margin: 15px;
    list-style-type: none;
}
.acc:hover{
    cursor: pointer;

}
.acc:hover .dropdown{
    cursor: pointer;
    display: block;
}
.footer {
    box-shadow:rgba(107, 107, 107, 0.37) 0px 9px 20px 9px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: rgba(199, 198, 198, 0.295);
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .footerLeft{

      position: absolute;
      left: 0;
      top: 10%;
      text-indent: 10%;
      display: inline-block;
      height: 80%;
      width: 50%;
      border-right: 1px solid black;

  }
  .footerRight{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10%;
    text-indent: 10%;
    height: 80%;
    width: 50%;

  }
  .allign{
      text-align: left;
  }
  .allign h2,h3{
      margin: 0px;
  }




